* {
  &::selection {
    color: white;
    background: #ece5df;
  }
}

html {
  font-size: vw(24);
  overflow: hidden;
  height: var(--vh);
}

body {
  color: var(--black);
  font-size: 1rem;
  position: relative;
  font-family: sans-serif;
  overscroll-behavior-y: none;
  height: var(--vh);
  @include smooth-font;

  @media (min-width: $br1) {
    overflow: hidden;
  }

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
